<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635558368620-c46e9rb82ls2tqa1qn6bhejtv7nhiafm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635558368620-c46e9rb82ls2tqa1qn6bhejtv7nhiafm</string>
	<key>API_KEY</key>
	<string>AIzaSyCR08BfmvDlSVw2YwWvXrXcNR8WhWLlVG8</string>
	<key>GCM_SENDER_ID</key>
	<string>635558368620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wholesalerr.ios</string>
	<key>PROJECT_ID</key>
	<string>wholesalerr-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wholesalerr-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635558368620:ios:93ff3777d15ab34ba80f49</string>
</dict>
</plist>